.body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-brown);
}

.inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: start;
}

.left,
.right {
    display: flex;
    flex-direction: column;
}

.left div,
.right div {
    height: 8rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    font-size: 2rem;
}

.btnPane div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-c {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.end-c button {
    background-color: var(--light-yellow);
    color: var(--bg-dark);
    border: 1px solid var(--bg-dark);
    font-weight: 700;
}

.end-c button:hover {
    background-color: var(--bg-dark);
    color: var(--light-yellow);
}
